@font-face {
    font-family: 'sanchez-normal';
    src: url(../font/sanchez/Sanchez-Regular.woff) format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sanchez-italic';
    src: url(../font/sanchez/Sanchez-Regular.woff) format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'typo-slab-normal';
    src: url(../font/typo_slab/typo-slab-regular.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
    unicode-range: U+20-21, U+3F, U+41-5A, U+61-7A;
}

@font-face {
    font-family: 'typo-slab-bold';
    src: url(../font/typo_slab/TypoSlab_bold.otf) format('opentype');
}

@font-face {
    font-family: 'avenir-next-lt-pro';
    src: url(../font/avenir-next-lt-pro/Avenir-Next-LT-Pro.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'tw-cen-mt';
    src: url(../font/tw_cen_mt/tcm.TTF) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'avenir-black';
    src: url(../font/avenir-black/AvenirLTStd-Black.otf) format('opentype');
    font-style: normal;
}

.avenir-black {
    font-family: 'avenir-black', sans-serif;
}

.text-twc {
    font-family: 'tw-cen-mt' !important;
}

.text-arial {
    font-family: Arial, Helvetica, sans-serif;
}


body {
    max-width: 100vw;
    overflow-x: hidden;
}

@media (min-width: 320px) {
    /* Index */
    .center-logo {
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
        z-index: 2;
    }

    a:hover {
        text-decoration: none;
        color:unset;
    }

    .index-btn:focus {
        box-shadow: none;
    }

    .index-bg {
        min-width: 100vw;
        min-height: 100vh;
        background-position: center;
        background-size: cover;
        background-color: #FEEFBA;
    }

    .index-btn-column {
        bottom: 10%;
    }

    .bg-video {
        position: fixed;
        right: -70%;
        bottom: 0;
        min-width: 100%;
        min-height: 100%;
        z-index: 0;
    }

    .index-btn {
        font-family: 'sanchez-normal';
        font-size: 18px;
        letter-spacing: 1px;
        z-index: 5;
        color: #ffffff;
        padding: 9px 65px;
        transition: 0.3s;
        background-color: rgba(255, 255, 255, 0.25);
    }

    .index-btn:hover {
        color: #A36E5C;
    }
    /* End Index */

    /* Navbar */

    .navbar {
        font-family: typo-slab-normal !important;
        padding: 2rem 2.5rem;
        max-width: 100vw;
        transition: .4s;
    }

    .navbar.active {
        background: rgba(0, 0, 0, 0.25);
    }

    .navbar-logo {
        width: 80px;
    }

    .nav-link {
        font-size: 14px;
        letter-spacing: 1px;
        font-weight: 100;
        transition: .2s;
    }

    .nav-link.text-white:hover {
        color: rgba(220, 220, 220, 1) !important;
    }

    .dropdown-toggle::after {
        display: none;
    }

    .navbar .dropdown-menu {
        background: none;
        border: none;
        margin-top: -3px;
    }

    .navbar .dropdown-item:focus {
        background: none;
    }

    .dropdown-item {
        background-color: rgba(255, 255, 255, 0.35);
        padding: 18px 50px;
        transition: .2s;
    }

    .dropdown-item:hover {
        background-color: rgba(255, 255, 255, 0.25);
    }

    .navbar-toggler:focus {
        outline-color: #A36E5C;
    }

    .navbar .dropdown-item {
        font-size: 14px;
        letter-spacing: 0.4px;
    }

    .navbar .form-control {
        padding: .2rem .75rem;
        height: unset;
        font-size: 0.7rem;
        width: 90%;
    }

    .hide {
        display: none;
    }

    .navbar .btn.focus,
    .navbar .btn:focus {
        box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
    }

    /* End Navbar */

    /* Home */
    .home-intro,
    .studio-section {
        min-width: 100vw;
        min-height: 100vh;
        background-size: cover;
        max-width: 100vw;
        overflow: hidden;
    }

    .home-intro,
    .studio-section,
    .stories-page,
    .kelasku-row-1,
    .kelasku-row-2,
    .keperluanku-row-1 {
        background-color: #E1DBCF;
    }

    .home-intro {
        background-position: center;
    }

    .home-intro-column {
        min-width:100vw;
        min-height: 100vh
    }

    .home-intro-column span {
        position: absolute;
        max-width: 10px;
        line-height: 30px;
        font-family: avenir-next-lt-pro;
        font-size: 22px;
        display: block;
        -webkit-animation-name: homeIntro;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.75s;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-fill-mode: forwards;
        /* Safari 4.0 - 8.0 */
        animation-name: homeIntro;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
        animation-delay: 1.5s;
    }

    .home-intro .row {
        margin-top: 8%;
        opacity: 0;
        -webkit-animation-name: homeContent;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-duration: 0.75s;
        /* Safari 4.0 - 8.0 */
        -webkit-animation-fill-mode: forwards;
        /* Safari 4.0 - 8.0 */
        animation-name: homeContent;
        animation-duration: 0.75s;
        animation-fill-mode: forwards;
        animation-delay: 2s;
    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes homeIntro {
        from {
            opacity: 1;
            display: block;
        }

        to {
            opacity: 0;
            display: none;
        }
    }

    @keyframes homeIntro {
        from {
            opacity: 1;
            display: block;
        }

        to {
            opacity: 0;
            display: none;
        }
    }

    /* Safari 4.0 - 8.0 */
    @-webkit-keyframes homeContent {
        from {
            opacity: 0;
            display: block;
        }

        to {
            opacity: 1;
            display: none;
        }
    }

    @keyframes homeContent {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    .home-intro-left {
        max-width: 75%;
    }

    .home-intro-left h1 {
        line-height: 25px;
        font-size: 26px;
        letter-spacing: 2px;
        font-family: typo-slab-normal;
    }

    .home-intro-right {
        font-size: 13.5px;
        font-family: typo-slab-normal;
        max-width: 75%;
        letter-spacing: 1.5px;
        color: #6B6B6B;
    }

    .home-intro-right p {
        line-height: 24px;
    }

    .home-intro-right a {
        font-weight: 800;
        color: #000;
    }

    /* End Home */

    /* Footer */

    .footer-app {
        max-width: 100vw;
        overflow: hidden;
        padding: 2rem 30px;
        background: #FEFEFA;
    }

    .footer-icon {
        width: 20px;
    }

    .footer-icon#fb-icon {
        width: 10px;
    }

    .footer-sosmed {
        margin: .0rem .5rem .8rem;
    }

    .footer-app p {
        font-size: 9px;
        margin-top: 5px;
        margin-bottom: 0px;
        margin-left: 9px;
        font-family: 'avenir-next-lt-pro';
        letter-spacing: .8px;
    }

    p.footer-title {
        font-size: 13px;
        margin-bottom: 5px;
        font-family: 'typo-slab-normal';
    }

    /* End Footer */

    /* Studio */
    .studio-section {
        background-position: bottom;
        background-size: unset;
        margin: 0px;
    }

    .studio-section .col-12 {
        min-height: 100vh;
    }

    .bg-brown {
        background-color: burlywood;
    }

    .circle-text {
        position: absolute;
        display: inline-block;
        color: white;
        transform-origin: bottom center;
        padding-bottom: 25px;
        font-size: 15px;
        font-family: 'typo-slab-normal', sans-serif;
        font-weight: bold;
    }

    .circle-text-column {
        padding-left: 2rem;
    }

    #circle-word-1 {
        transform: rotate(-54deg);
    }

    #circle-word-2 {
        transform: rotate(-34deg);
    }

    #circle-word-3 {
        transform: rotate(-13deg);
    }

    #circle-word-4 {
        transform: rotate(11deg);
    }

    #circle-word-5 {
        transform: rotate(33deg);
    }

    #circle-word-6 {
        transform: rotate(54deg);
    }

    .address-text {
        margin-top: 50px;
        color: black;
        font-family: 'typo-slab-normal';
        font-size: 14px;
        letter-spacing: 1px;
    }

    /* End Studio */

    /* Stories */
    .stories-page {
        background-position: 98% 1%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .stories-column-1,
    .stories-column-2,
    .stories-column-3,
    .stories-column-4 {
        min-width: 100%;
        min-height: 100vh;
    }

    .stories-column-1 {
        padding-left: 10%;
        padding-right: 18%;
    }

    .stories-page p {
        font-family: 'typo-slab-normal';
        letter-spacing: 0.5px;
    }

    .stories-column-1 p {
        font-size: 14.5px;
    }

    .stories-column-1 a {
        font-family: 'avenir-next-lt-pro';
        letter-spacing: .8px;
        font-size: 14.5px;
        text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.3);
    }

    .stories-column-2 {
        background-position: right 10%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .stories-column-3,
    .stories-column-4 {
        padding: 5% 10%;
        padding-top: 13%;
        font-size: 12.5px;
    }

    .stories-row {
        min-width: 100vw;
        min-height: 100vh;
        padding-left: 10%;
        font-size: 13px;
        padding-bottom: 7%;
    }

    .stories-column-5 {
        max-width: 100%;
        margin-top: 8%;
        padding-right: 50%;
        margin-right: 5%;
    }

    .stories-row .circle-text-column {
        margin-bottom: 3.8rem;
    }

    .stories-row .circle-text {
        color: #0C0C0C;
        font-size: 17px;
        font-family: 'typo-slab-bold', serif;
        padding-bottom: 20px;
    }

    .stories-row #circle-word-2 {
        transform: rotate(-31deg);
    }

    .stories-row #circle-word-4 {
        transform: rotate(10deg);
    }

    .stories-row #circle-word-5 {
        transform: rotate(28deg);
    }

    .stories-column-5 p {
        line-height: 28px;
    }

    .circle-quote {
        width: 90px;
    }

    .circle-text-column-2 {
        padding-left: 38px;
    }

    .circle-text-column-2 .circle-text {
        padding-bottom: 25px;
    }

    .circle-text-column-2 #circle-word-1 {
        transform: rotate(-60deg);
    }

    .circle-text-column-2 #circle-word-2 {
        transform: rotate(-32deg);
    }

    .circle-text-column-2 #circle-word-3 {
        transform: rotate(-15deg);
    }

    .circle-text-column-2 #circle-word-4 {
        transform: rotate(6deg);
    }

    .circle-text-column-2 #circle-word-5 {
        transform: rotate(25deg);
    }

    .circle-text-column-2 #circle-word-6 {
        transform: rotate(37deg);
    }

    .circle-text-column-2 #circle-word-7 {
        transform: rotate(60deg);
    }

    .sub-text-circle {
        margin-top: 4rem;
    }

    .stories-final-row {
        min-width: 100vw;
        min-height: 100vh;
        padding-left: 10%;
        padding-bottom: 10%;
        color: #fff;
        font-size: 40px;
    }

    .stories-final-row p {
        max-width: 90%;
    }

    .text-grey {
        color: #C4CFB1;
    }

    /* End Stories */

    /* Kelasku */

    .kelasku-row-1,
    .kelasku-row-2 {
        color: #fff;
        font-family: 'typo-slab-normal';
        letter-spacing: .5px;
    }

    .kelasku-row-1 {
        min-width: 100vw;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 6rem 5rem;
    }

    .kelasku-row-1 h1 {
        font-size: 34px;
    }

    .kelasku-row-1 h2 {
        font-size: 26px;
    }

    .kelasku-row-2 .col-sm-12 {
        min-height: 100vh;
        background-size: cover;
        padding-left: 5rem;
    }

    .kelasku-row-2 .col-sm-12:first-child {
        background-size: 170% 110%;
        background-position: 0% 50%;
    }

    .kelasku-row-2 p {
        font-size: 12.6px;
        max-width: 54%;
        line-height: 23px;
    }

    /* End Kelasku */

    /* Keperluanku */

    .keperluanku-row-1,
    .keperluanku-row-2,
    .keperluanku-row-3 {
        min-width: 100vw;
        min-height: 100vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    .keperluanku-row-3 {
        min-height: unset;
    }

    .keperluanku-row-1 {
        padding: 10rem 2.5rem;
        margin-left: 0px;
    }

    .keperluanku-row-1 .column-1,
    .keperluanku-row-1 .column-3 {
        align-items: center;
    }

    .keperluanku-row-1 .column-2 {
        margin-top: 2rem;
    }

    .keperluanku-row-1 p,
    .keperluanku-row-2 p,
    .keperluanku-row-3 p,
    .keperluanku-row-4 p {
        font-family: 'typo-slab-normal', serif;
        line-height: 28px;
        letter-spacing: .43px;
    }

    .keperluanku-row-1 p {
        font-size: 14px;
        max-width: 77%;
        text-align: center;
        margin: 0px;
    }

    .keperluanku-row-1 a {
        color: #fff;
        font-family: 'avenir-next-lt-pro', sans-serif;
        text-shadow: -1px 2px 2px rgba(0, 0, 0, 0.3);
        font-size: 16px;
        margin-top: 0.5rem;
    }

    .keperluanku-row-2 .column-1 {
        padding: 2rem 2rem 2rem 4rem;
        background-color: #FEFEFA;
    }

    .keperluanku-row-2 p {
        font-size: 13px;
    }

    .keperluanku-row-3,
    .keperluanku-row-4 {
        background-color: #FEEFBA;
        padding: 2rem 3rem;
    }

    .keperluanku-row-3 p,
    .keperluanku-row-4 p {
        max-width: 100%;
        font-size: 22px;
        line-height: 37px;
        margin-top: 2rem;
    }

    .keperluanku-row-3 h2,
    .keperluanku-row-4 h2 {
        font-family: 'typo-slab-normal', serif;
        font-size: 44px;
    }

    .keperluanku-row-3 .list-content {
        margin-top: 1rem;
    }

    .keperluanku-row-3 .list {
        font-family: 'typo-slab-normal', serif;
        font-size: 13px;
    }

    /* End Keperluanku */

    /* Campaign */

    .campaign-column-1 {
        min-width: 100vw;
        min-height: 100vh;
        padding: 0px;
        padding-top: 3rem;
        max-width: 100vw;
        max-height: 100vh;
        background-position: top;
        background-size: cover;
        background-repeat: no-repeat;
        background-color: #FFDFDF;
    }

    .campaign-column-1::before {
        content: '';
        width: 100vw;
        height: 100vh;
        top: 0;
        background-color: rgba(0, 0, 0, 0.01);
        position: absolute;
        z-index: 1;
    }

    .campaign-column-1 img {
        z-index: 2;
    }

    .campaign-gallery-1,
    .campaign-gallery-2,
    .campaign-gallery-3,
    .campaign-gallery-5,
    .campaign-gallery-4,
    .campaign-gallery-6,
    .campaign-gallery-7,
    .campaign-gallery-8 {
        background-color: #FEFEFA;
    }

    .campaign-gallery-1 img,
    .campaign-gallery-2 img,
    .campaign-gallery-3 img,
    .campaign-gallery-5 img,
    .campaign-gallery-4 img,
    .campaign-gallery-6 img,
    .campaign-gallery-7 img,
    .campaign-gallery-8 img {
        position: relative;
        z-index: 2;
    }

    .column-embed-video {
        padding-bottom:56.25%;
        position:relative;
        display:block;
        width: 100%
    }

    .embed-video {
        position:absolute;
        top:0;
        left: 0;
    }

    .video-ordinary {
        background-color:transparent;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }

    /* End Campaign */
    
}

@media(min-width: 600px) {
    .bg-video {
        right: 0%;
    }
}

@media (min-width: 768px) {

    /* Footer */

    .footer-sosmed {
        margin-bottom: 0px;
    }

    .footer-app {
        padding: 7rem 3rem 4rem;
    }

    .contact-column {
        padding-left: 30%;
        padding-right: 0;
    }

    /* End Footer */
}

@media (min-width: 1024px) {

    .img-slide {
        opacity: 0;
        right: -100%;
    }

    .center-logo {
        -ms-flex: 0 0 12%;
        flex: 0 0 12%;
        max-width: 12%;
    }

    .bg-video {
        right: 0%;
    }

    /* Navbar */
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 2rem;
        padding-left: 2rem;
    }

    #search-column,
    #search-form {
        position: absolute;
        right: 7%;
    }

    .navbar.active {
        background: none;
    }

    /* End Navbar */

    /* Home */
    .home-intro-left {
        max-width: 54%;
        padding-left: 5%;
    }

    .home-intro-right {
        max-width: 63%;
    }
    /* End Home */

    .contact-column {
        padding-left: 35%;
        padding-right: 0;
    }

    /* Studio */
    .studio-section {
        background-size: cover;
        margin-left: -15px;
    }
    /* End Studio */

    /* Stories */
    .stories-column-1,
    .stories-column-2 {
        min-width: 50%;
    }

    .stories-column-3,
    .stories-column-4 {
        min-width: 40%;
    }

    .stories-column-3 {
        padding-left: 10%;
        padding-right: 6%;
    }

    .stories-column-4 {
        padding-right: 18%;
        padding-left: 0%;
    }

    .stories-column-5 {
        max-width: 20.7%;
        padding-right: unset;
    }

    .circle-quote {
        width: 150px;
    }

    .circle-text-column-2 {
        margin-top: -25%;
        position: absolute;
    }

    .sub-text-circle {
        margin-top: unset;
    }

    .stories-final-row p {
        max-width: 43%;
    }
    /* End Stories */

    /* Kelasku */

    .kelasku-row-1 {
        padding: 2rem 10rem 0rem;
    }

    .kelasku-row-2 .col-sm-12 {
        min-height: 100vh;
        background-size: cover;
        padding-left: 5rem;
        padding-right: 0rem;
    }
    /* End Kelasku */

    /* Keperluanku */

    .keperluanku-row-1 {
        padding: 0px 8rem;
        margin-left: -15px;
    }

    .keperluanku-row-1 .column-2 {
        margin-top: -3rem;
    }

    .keperluanku-row-1 .column-1 {
        align-items: flex-start;
    }

    .keperluanku-row-1 .column-1 p {
        text-align: left;
        margin-top: 9rem;
    }

    .keperluanku-row-1 .column-3 {
        align-items: flex-end;
    }

    .keperluanku-row-1 .column-3 p {
        text-align: right;
        margin-top: 13rem;
    }

    .keperluanku-row-2 {
        max-height: 100vh;
    }

    .keperluanku-row-2 .column-1 {
        padding: 0rem 14rem 0rem 8rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        -ms-flex-direction: column;
    }

    .keperluanku-row-3 {
        padding-left: 8rem;
        padding-top: 30vh;
        min-height: 100vh;
    }

    .keperluanku-row-3 p {
        max-width: 44.5%;
    }

    .keperluanku-row-3 .list {
        margin-top: 2rem;
        display: flex;
        flex-direction: row;
    }

    .keperluanku-row-3 .list-content {
        width: 12.3%;
        padding-right: 2.5rem;
    }

    .keperluanku-row-4 {
        padding-left: 8rem;
        padding-right: 12rem;
        min-height: 100vh;
        align-items: center;
    }

    .keperluanku-row-4 .col-lg-6 {
        max-width: 40%;
    }

    .keperluanku-row-4 .col-lg-6:last-child {
        margin-left: 20%;
    }

    /* Campaign */

    .campaign-gallery-1 {
        padding: 0% 0% 0% 60%;
    }

    .campaign-gallery-2 {
        padding: 0% 60% 0% 0%;
        margin-top: -45%;
    }

    .campaign-gallery-3 {
        padding: 0% 0% 0% 67%;
        margin-top: -6%;
    }

    .campaign-gallery-4 {
        padding: 0% 41% 0% 14%;
        margin-top: -21%;
    }

    .campaign-gallery-5 {
        padding: 0% 0% 0% 34%;
        margin-top: 6%;
    }
    
    .campaign-group {
        margin-top: 7%;
        margin-bottom: 0%;
    }

    .campaign-gallery-6 {
        padding: 0% 1.7% 0% 0%;
        margin-top: 0%;
    }

    .campaign-gallery-7 {
        padding: 0% .85%;
        margin-top: 0%;
    }

    .campaign-gallery-8 {
        padding: 0% 0% 0% 1.7%;
        margin-top: 0%;
    }
}

@media(min-height: 1000px) {
    .bg-video {
        right: -50%;
    }
}

@media(min-width: 1200px) {
    .bg-video {
        right: 0%;
    }
}