/* © 2020 @inertia.id */
nav.navbar {
    background-color: rgba(255, 255, 255, 0.35);
}

.nav-link.text-white:hover {
    color: #755245 !important;
}

.navbar,
.home-intro-left h1,
.home-intro-right,
p.footer-title,
.address-text,
.stories-page p,
.kelasku-row-1,
.kelasku-row-2 {
    font-family: 'typo-slab-normal', serif !important;
}
